body {
    background-color: skyblue;
}

.container {
    width: 70vw;
    background-color: lightgray;
    margin: 0 auto;
    border-radius: 20px;
}

.container h2 {
    text-align: center;
    padding-top: 10px;
}

form {
    width: 100%;
    background-color: green;
    border-radius: 20px;
}

.input-areas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}

form input {
    height: 50px;
    border-radius: 10px;
}

form button {
    height: 30px;
    width: 80px;
    background-color: lightskyblue;
    border-radius: 10px;
}

.biglietto {
    display: flex;
    height: 150px;
    width: 100%;
    border-radius: 20px;
}

.biglietto .name-side {
    width: 35%;
    height: 100%;
    padding: 20px;
    background-color: rgb(148, 148, 148);
    border-radius: 20px 0 0 20px;
}

.biglietto .details-side {
    width: 65%;
    height: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 0 20px 20px 0;
}

